In [0]:
from sklearn.datasets import load_boston

In [0]:
boston = load_boston()

In [0]:
print(boston.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [0]:
import pandas as pd

data = pd.DataFrame(boston.data)
data.columns = boston.feature_names

In [0]:
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [0]:
data['PRICE'] = boston.target

In [0]:
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [0]:
data.describe()

             CRIM          ZN       INDUS  ...           B       LSTAT       PRICE
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677083   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

In [0]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [0]:
X, y = data.iloc[:,:-1],data.iloc[:,-1]

In [0]:
data_dmatrix = xgb.DMatrix(data=X,label=y)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [0]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear',
                          colsample_bytree = 0.3, 
                          learning_rate = 0.1,
                          max_depth = 5, 
                          alpha = 10, 
                          n_estimators = 10)

In [0]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[12:00:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [0]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 10.449300

In [0]:
df_pred = pd.DataFrame({'Prediction':preds,'Real':y_test})

In [0]:
df_pred

     Prediction  Real
410    8.531183  15.0
85    17.426376  26.6
280   24.354538  45.4
422   10.202603  20.8
199   17.867029  34.9
364   20.111704  21.9
5     17.825245  28.7
415    7.004883   7.2
209   12.371497  20.0
284   18.518875  32.2
201   18.143133  24.1
337   14.239707  18.5
34    11.409273  13.5
160   17.309526  27.0
495   13.857576  23.1
11    14.114464  18.9
494   13.485846  24.5
261   26.225672  43.1
317   13.496281  19.8
474   10.878549  13.8
134   11.365604  15.6
372   12.844106  50.0
179   18.621658  37.2
282   22.888901  46.0
369   22.134113  50.0
485   13.578582  21.2
458   10.041029  14.9
59    14.692133  19.6
332   14.988752  19.4
102   13.096905  18.6
..          ...   ...
26    12.999216  16.6
249   17.246531  26.2
460   10.544081  16.4
469   10.580927  20.1
376    8.360582  13.9
49    13.825303  19.4
308   17.311451  22.8
374    7.374738  13.8
227   19.365898  31.6
440    7.607931  10.5
320   15.488976  23.8
212   14.418811  22.4
211   13.792062  19.3
333   14.946836  22.2
447   10.085008  12.6
66    16.069473  19.4
327   14.708400  22.2
188   18.247932  29.8
436    8.684070   9.6
189   19.244606  34.9
125   13.321823  21.4
42    15.266518  25.3
200   18.869804  32.9
41    17.532722  26.6
478   10.733325  14.6
229   19.642899  31.5
159   15.874859  23.3
196   20.902187  33.3
345   15.050529  17.5
467   11.468860  19.1

[102 rows x 2 columns]